.container {
    .title {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    .checkBocLabel {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    .checkboxStyle {
        fill: #fffff4;
        padding: 0px;
    }
}