.container {
    margin: 0;
    padding: 2rem;
    position: fixed;
    top: 10vh;
    left: calc(50% - 15rem);
    width: 30rem;
    max-height: 80vh;
    background: #FFFFF4;
    border: none;
    border-radius: 6px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slide-down-fade-in 300ms ease-out forwards;

    h2 {
        text-align: center;
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 20px;
    }

    label,
    .unAuthorizedMessage {
        margin: 5px 0px;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
    }

    .unAuthorizedMessage {
        color: #ED3F3F;
    }

    .buttonBlock {
        margin: 10px 0px;
        display: flex;

        .confirmButton,
        .cancelButton {
            cursor: pointer;
            width: 80%;
            height: 40px;
            border: 1px solid #767676;
            border-radius: 4px;
            margin: 0px 5px;

            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            transition: background-color 0.5s ease;
        }

        .confirmButton {
            color: #FFFFF4;
            background-color: #436850;

            &:hover {
                background-color: #12372A;
            }
        }

        .cancelButton {
            background-color: transparent;

            &:hover {
                background-color: #ED3F3F;
            }
        }
    }
}

.modal::backdrop {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}