.dashboard {
  margin-top: 2rem;
  padding: 0 2rem;
  button {
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .add-new-button {
      background-color: green;
    }
  }

  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
