.container {
    border-radius: 4px;
    width: 320px;
    height: 330px;
    padding: 5px;

    .image {
        height: 70%;
        width: auto;
        background-color: transparent;
        display: flex;
        position: relative;

        img {
            margin: auto;
            height: 100%;
            width: auto;
            cursor: pointer;
        }

        .colors {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;

            .circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
                margin: 0px 0px 5px 5px;
            }
        }
    }

    .bottomBlock {
        display: flex;
        justify-content: space-between;

        h4 {
            font-family: "Arsenal", sans-serif;
            font-weight: 700;
            font-size: 20px;
            margin: 5px 0px;
        }

        h5 {
            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 10px;
            color: #767676;
        }

        .likeIcon {
            cursor: pointer;
            margin: auto 0px;
        }
    }
}