.container {
    border: 1px solid #adbc9f;
    width: 100%;
    height: 90px;
    padding: 20px;
    margin: 15px 0px;

    .topBlock {
        display: flex;
        justify-content: space-between;

        .author {

            font-family: "Arsenal", sans-serif;
            font-weight: 700;
            font-size: 24px;
        }

        .createdAt {
            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #000;
        }

    }

    .bottomBlock {
        padding-top: 20px;
        font-family: "Work Sans", sans-serif;

        font-weight: 400;
        font-size: 18px;
        color: #000;
    }
}