.container {
    margin: 50px;
    li {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 20px;
        list-style-type: disc;
        padding-top: 20px;
    }
}