.container {
    padding: 50px;

    .topBlock {
        border: 1px solid #767676;
        border-radius: 4px;
        width: 100%;
        height: 80px;
        padding: 0px 20px;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            input,
            button {
                margin: auto 0px;
                font-family: "Arsenal", sans-serif;
                font-weight: 700;
                font-size: 20px;
                background-color: transparent;
                border-radius: 4px;
                border: 1px solid #adbc9f;
            }


            input {
                height: 60%;
                width: 50%;
                display: block;
                padding-left: 20px;
            }

            button {
                cursor: pointer;
                width: 250px;
                height: 60%;
            }
        }

    }

    .bottomBlock {}
}