.container {
    padding: 50px;

    .pageTitle {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 40px;
        padding: 25px 0px;
    }


    form {
        display: flex;
        justify-content: space-between;

        .leftBlock,
        .rightBlock {
            border-left: 1px solid #ADBC9F;
            width: 60%;

            .paymentForm {
                display: flex;
                padding: 0px 20px;

                .numberOfForm {
                    font-weight: 700;
                    font-size: 24px;
                }

                .inputForm {
                    margin: 0px 0px 50px 35px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                }

                input::placeholder {
                    color: #767676;
                    font-weight: 400;
                    font-size: 18px;
                    padding-left: 1rem;
                    font-family: "Work Sans", sans-serif
                }

                input {
                    width: 75%;
                    padding: 10px;
                    outline: none;
                    border: 1px solid #767676;
                    background-color: #fffff4;
                    border-radius: 4px;
                    color: black;
                    font-size: 18px;
                    margin: 5px 0px;
                }

                input:focus {
                    border: 2px solid black;
                }
            }
        }

        .rightBlock {
            border-left: 1px solid #ADBC9F;
            width: 40%;
            padding-left: 20px;
            hr{
                margin: 20px 0px;
                background-color:  #adbc9f;
                height: 1px;
            }

            button {
                cursor: pointer;
                width: 80%;
                height: 40px;
                border: 1px solid #767676;
                border-radius: 4px;
                background-color: transparent;

                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }


    .inputTitle {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 25px;
    }
}