.container {
    font-family: "Arsenal", sans-serif;
    margin: 0px 50px;

    .BreadCrumb {
        margin-top: 50px;
    }

    p {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin: 2% 0%;
    }

    h1 {
        margin-top: 50px;
        font-weight: 700;
        font-size: 48px;
    }

    .textblock {

        margin-bottom: 100px;

        h4 {
            font-weight: 700;
            font-size: 24px;
            color: #000;
            margin-top: 40px;
            margin-bottom: 20px
        }

        li {
            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            list-style-type: disc;
            margin: 0px 20px;
        }
    }

}