.phones {
  margin: 0 auto;
  max-width: 90rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-bottom: 50px;

}

.phoneBlockTitle {
  margin: 0 50px;
  display: flex;
  justify-content: space-between;

  span {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-size: 36px;
  }

  svg {
    margin: 0 20px;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  font-family: "Arsenal", sans-serif;
}

.subscribeBlock {
  display: flex;
  border-radius: 24px;
  padding: 0 80px;
  height: 140px;
  background-color: #adbc9f;
  margin: 0 50px;
  margin-bottom: 50px;

  .iconBlock {
    margin: auto;
    flex: 1;
  }

  .textBlock {
    flex: 2;
    margin: auto;
    display: block;

    .topText {
      font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-size: 27px;
      color: #2b2d33;
    }

    .bottomText {
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #555a65;
    }

  }
}

.inputBlock {
  flex: 1;
  margin: auto;
  display: flex;

  input {
    border: 1px solid #767676;
    border-radius: 4px 0 0 4px;
    width: 400px;
    height: 30px;
  }

  input::placeholder {
    padding-left: 20px;
    font-family: "Work Sans", sans-serif;
    color: #767676;
    font-weight: 400;
    font-size: 13px;

  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #12372a;
    border-radius: 0 4px 4px 0;
    width: 178px;
    height: 33px;

    font-family: "Work Sans", sans-serif;
    color: #fffff4;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    svg {
      padding-left: 10px;
    }
  }
}

.topContainer {
  padding-top: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  .leftBlock,
  .rightBlock {
    background-color: #436850;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;

    h5 {
      font-family: "Arsenal", sans-serif;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: white;
    }
  }

  .leftBlock {
    border-radius: 0 250px 250px 0;

    svg,
    .leftImage {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 10px;
      height: 90px;
      width: 90px;
    }

    .leftImage {
      background-color: transparent;
      height: 75%;
      width: auto;
      padding-left: 10%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .leftBlock:hover,
  .rightBlock:hover {
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.55);
  }

  .middleBlock {
    flex-grow: 1;
    background-color: transparent;
    text-align: center;
    height: 370px;
    width: auto;

    h2 {
      margin-top: 30px;
      font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .rightBlock {
    border-radius: 250px 0 0 250px;

    svg,
    .leftImage {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      height: 90px;
      width: 90px;
      margin-left: 10px;
    }

    .rigthImage {
      background-color: transparent;
      height: 75%;
      width: auto;
      padding-right: 10%;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}