.container {

    padding: 0% 5%;

    .BreadCrumb {
        padding-top: 40px;
        margin-bottom: 50px;
    }

    h1 {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 30px;
    }

    .textblock {
        h4 {
            font-family: "Arsenal", sans-serif;
            font-weight: 700;
            font-size: 24px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        li {
            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            list-style-type: disc;
            margin: 0px 20px;
        }
    }

    padding-bottom: 40px;
}