.container {
    padding: 50px;
    display: flex;
    
    .leftBlock {
        width: 20%;
    }
    
    
    .rightBlock {
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}