.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    h3 {
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .inputs {
        display: flex;
        margin-bottom: 10px;
        width: 100%;

        button {
            border-radius: 4px;
            border: solid 1px #767676;
            background-color: transparent;

            font-family: "Work Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #767676;
            cursor: pointer;
        }

        .inputContainer {
            display: flex;
            justify-content: center;

            .spliter {
                justify-content: center;
                text-align: center;
            }

            input {
                border-radius: 4px;
                border: solid 1px #adbc9f;
                background: transparent;
                text-align: center;
                width: 80%;

                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #767676;
            }

            ::-webkit-outer-spin-button,
            ::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }

    .sliderContainer {
        position: relative;
        width: 100%;
        height: 50px;

        .rangeSlider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 8px;
            background: transparent;
            position: absolute;
            pointer-events: none;
            z-index: 2;
        }

        .rangeSlider::-webkit-slider-thumb {
            border-radius: 4px;
            -webkit-appearance: none;
            appearance: none;
            width: 12px;
            height: 12px;
            background: #436850;
            cursor: pointer;
            pointer-events: auto;
            position: relative;
            z-index: 1;
        }

        .rangeSlider::-moz-range-thumb {
            width: 12px;
            height: 12px;
            background: #436850;
            cursor: pointer;
            pointer-events: auto;
            position: relative;
            z-index: 1;
        }

        .sliderTrack {
            position: absolute;
            height: 10px;
            background: transparent;
            border: solid 1px #adbc9f;
            border-radius: 4px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            pointer-events: none;
        }

        .sliderRange {
            position: absolute;
            height: 11px;
            background: #adbc9f;
            top: 0;
            bottom: 0;
            z-index: 1;
            pointer-events: none;
        }
    }


}