.container {
    padding: 50px;

    .subscribeBlock {

        display: flex;
        border-radius: 24px;
        padding: 0 80px;
        height: 140px;
        background-color: #adbc9f;
        margin: 0 40px;
        margin-bottom: 50px;

        .iconBlock {
            margin: auto;
            flex: 1;
        }

        .textBlock {
            flex: 2;
            margin: auto;
            display: block;

            .topText {
                font-family: "Arsenal", sans-serif;
                font-weight: 700;
                font-size: 27px;
                color: #2b2d33;
            }

            .bottomText {
                padding-top: 5px;
                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 12px;
                color: #555a65;
            }

        }
    }

    .inputBlock {
        flex: 1;
        margin: auto;
        display: flex;

        form {
            display: flex;

            input {
                border: 1px solid #767676;
                border-radius: 4px 0 0 4px;
                width: 400px;
                height: 30px;
            }

            input::placeholder {
                padding-left: 20px;
                font-family: "Work Sans", sans-serif;
                color: #767676;
                font-weight: 400;
                font-size: 13px;

            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #12372a;
                border-radius: 0 4px 4px 0;
                width: 178px;
                height: 33px;

                font-family: "Work Sans", sans-serif;
                color: #fffff4;
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                cursor: pointer;

                svg {
                    padding-left: 10px;
                }
            }
        }
    }

    h1 {
        text-align: center;
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 36px;
        padding-bottom: 40px;
    }

    .colorContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .colorCard {
            margin: 10px auto;
            width: 200px;
            height: 200px;
            border-radius: 4px;
            transition: box-shadow 0.5s ease;

            .topBlock {
                display: flex;
                justify-content: space-between;
                height: 35%;

                .textBlock {
                    padding-top: 10px;
                    padding-left: 10px;

                    h4 {
                        font-family: "Work Sans", sans-serif;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    h5 {
                        padding-top: 5px;
                        font-family: "Work Sans", sans-serif;
                        font-weight: 400;
                        font-size: 12px;
                    }
                }

                .iconBlock {
                    svg {
                        cursor: pointer;
                        padding-top: 10px;
                        padding-right: 10px;
                        width: 30px;
                        height: 30px;
                    }
                }

            }

            .colorBlock {
                border-radius: 4px;

                height: 65%;
                width: 100%;
            }
        }

        .selected {
            box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.45);
        }

        .colorCard:hover {
            box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.45);

        }
    }
}