.container {
    padding: 50px;

    h1,
    h2 {
        text-align: center;
        font-family: "Arsenal", sans-serif;
        padding-bottom: 40px;
    }

    h1 {
        font-weight: 700;
        font-size: 36px;
    }

    h2 {
        font-weight: 500;
        font-size: 28px;
    }

    label {
        font-family: "Work Sans", sans-serif;
        font-size: 18px;    
    }

    .orderTitle,
    .orderStatus {
        font-family: "Work Sans", sans-serif;
        font-size: 18px;
    }

    .orderTitle {
        font-weight: 400;
    }

    .orderStatus {
        margin-left: 5px;
        font-weight: 600;
    }

    .deleteButton {
        cursor: pointer;
        padding: 5px;
        height: 100%;
        width: auto;
        margin-left: 10px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid black;
        transition: background-color 0.5s ease;
    }

    .deleteButton:hover {
        color: #fffff4;
        background-color: #ED3F3F;
    }
}