.container {
    padding: 50px;

    h1 {
        text-align: center;
        font-family: "Arsenal", sans-serif;
        font-weight: 700;
        font-size: 36px;
        padding-bottom: 40px;
    }

    form {
        display: flex;

        .textAreaBlock {
            margin: auto;

            textarea {
                border: 3px solid #767676;
                border-radius: 4px;
                height: 250px;
                width: 550px;
                margin-bottom: 50px;
                padding: 10px;
                background-color: transparent;

                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 18px;
            }

            button {
                display: block;
                margin: 0px auto;
                border-radius: 4px;
                width: 370px;
                height: 49px;
                background-color: #436850;

                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fffff4;
            }
        }

    }

    .descriptionListBlock {
        padding-top: 50px;

        .descriptionItem {
            display: flex;
            background-color: #adbc9f;
            border-radius: 4px;
            padding: 30px;
            margin: 10px 0px;

            .descriptionText {
                width: 98%;

                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #fff;
            }

            svg {
                margin: auto;
                transition: fill 0.5s ease;
                fill: #fff;
                height: 25px;
                width: auto;
                cursor: pointer;
            }

            svg:hover {
                fill: #ed3f3f;
            }
        }
    }

    .subscribeBlock {

        display: flex;
        border-radius: 24px;
        padding: 0 80px;
        height: 140px;
        background-color: #adbc9f;
        margin: 50px 0px;

        .iconBlock {
            margin: auto;
            flex: 1;
        }

        .textBlock {
            flex: 2;
            margin: auto;
            display: block;

            .topText {
                font-family: "Arsenal", sans-serif;
                font-weight: 700;
                font-size: 27px;
                color: #2b2d33;
            }

            .bottomText {
                padding-top: 5px;
                font-family: "Work Sans", sans-serif;
                font-weight: 400;
                font-size: 12px;
                color: #555a65;
            }

        }
    }

    .inputBlock {
        flex: 1;
        margin: auto;
        display: flex;

        form {
            display: flex;

            input {
                border: 1px solid #767676;
                border-radius: 4px 0 0 4px;
                width: 400px;
                height: 30px;
            }

            input::placeholder {
                padding-left: 20px;
                font-family: "Work Sans", sans-serif;
                color: #767676;
                font-weight: 400;
                font-size: 13px;

            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #12372a;
                border-radius: 0 4px 4px 0;
                width: 178px;
                height: 33px;

                font-family: "Work Sans", sans-serif;
                color: #fffff4;
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                cursor: pointer;

                svg {
                    padding-left: 10px;
                }
            }
        }
    }

    .picturesContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .imageCard {
            margin: 10px auto;
            width: 200px;
            height: 200px;
            border-radius: 4px;
            transition: box-shadow 0.5s ease;

            .image {
                height: 70%;
                width: auto;
            }

            .bottomBlock {
                svg {
                    cursor: pointer;
                    padding-top: 10px;
                    padding-right: 10px;
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }
}