footer {
  width: 100%;
  min-height: 30px;
  background-color: black;
  div {
    padding: 1rem;
    p {
      color: white;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
