.footer-wrapper {
  max-width: 1920px;
  width: 100%;

  footer {
    background-color: #436850;
    height: 450px;

    .footer-sections {
      padding: 0 5rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;

      p {
        color: white;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        padding-bottom: 2rem;
        cursor: pointer;
      }

      .link {
        text-decoration: none;
      }

      .phone-section {
        display: flex;
        align-items: center;

        img {
          margin-right: 1rem;
        }

        .phone {
          font-family: "Judson", serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          font-size: 18px;
        }
      }
    }

    h1 {
      padding: 0 5rem;
      padding-top: 4rem;
      padding-bottom: 2rem;
      font-size: 42px;
      font-family: "Judson", serif;
      font-weight: 400;
      font-style: normal;
      color: white;
      display: inline-block;
    }
  }

  .footer-botom {
    border-top: 3px solid white;
    padding: 1rem 5rem;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
}

.link{
  cursor: pointer;
}