.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: "Arsenal", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;

    .label {
      flex: 1;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
    }

    .viewContainer,
    .editContainer {
      flex: 2;
      display: flex;
      align-items: center;
    }

    .viewContainer {
      span {
        flex: 1;
        font-size: 16px;
        color: #333;
      }

      .editButton {
        background-color: #436850;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 40px;

        &:hover {
          background-color: #12372a;
        }
      }
    }

    .editContainer {
      .inputField {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
      }

      .saveButton {
        background-color: #adbc9f;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #12372a;
        }
      }
    }
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
}
