/* Form.scss */
.login-form {
  max-width: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    .input-container {
      display: flex;
      width: 100%;
      margin-bottom: 15px;

      .icon {
        padding: 10px;
        background: #adbc9f;
        color: white;
        width: 24px;
        min-height: 24px;
        text-align: center;
        border-radius: 4px 0px 0px 4px;
      }

      .input-field::placeholder {
        color: #767676;
        font-weight: 400;
        font-size: 18px;
        padding-left: 1rem;
        font-family: "Work Sans", sans-serif
      }

      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        border: 2px solid #767676;
        padding: 16px 0;
        background-color: #fffff4;
        border-radius: 0px 4px 4px 0px;
        color: black;
        font-size: 18px;
        padding-left: 1rem;
      }

      .input-field:focus {
        border: 2px solid black;
      }
    }

    .login-button {
      width: 100%;
      padding: 16px 0;
      border: none;
      background-color: #12372a;
      color: #fffff4;
      font-family: "Work Sans", sans-serif;
      font-size: 18px;
      margin-bottom: 3rem;
      cursor: pointer;
    }
  }

  .or {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    h2 {
      width: 80%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
      color: #969ab8;
      font-family: "Work Sans", sans-serif;

      span {
        background: #fffff4;
        padding: 0 30px;
      }
    }
  }

  .forgot-password {
    text-align: center;
    padding-bottom: 2rem;

    a {
      font-family: "Work Sans", sans-serif;
      font-size: 18px;
      color: #12372a;
      text-decoration: none;
    }
  }

  .buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;

    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }

  .no-account {
    text-align: center;

    a {
      font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-size: 24px;
      font-style: normal;
      color: #0d0c0c;
      text-decoration: none;
    }
  }
}

.error {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ED3F3F;
  margin-bottom: 10px;
}