/* Form.scss */
.register-form {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .form {
        .title {
            padding-top: 50px;
            padding-bottom: 25px;
            font-weight: 700;
            font-size: 35px;
            color: #171725;
            font-family: "rsenal", sans-serif;
        }

        .inputs-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
        }

        .input-container {
            display: flex;
            width: 350px;
            height: 25px;
            margin-bottom: 15px;


            .input-field::placeholder {
                color: #767676;
                font-weight: 400;
                font-size: 18px;
                padding-left: 1rem;
                font-family: "Work Sans", sans-serif
            }

            .input-field {
                width: 100%;
                padding: 10px;
                outline: none;
                border: 2px solid #767676;
                padding: 16px 0;
                background-color: #fffff4;
                border-radius: 0px 4px 4px 0px;
                color: black;
                font-size: 18px;
                padding-left: 1rem;
            }

            .input-field:focus {
                border: 2px solid black;
            }
        }

        .register-button {
            width: 100%;
            padding: 16px 0;
            border: none;
            background-color: #12372a;
            color: #fffff4;
            font-family: "Work Sans", sans-serif;
            font-size: 18px;
            margin-bottom: 3rem;
            cursor: pointer;
        }
    }

    .or {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        h2 {
            width: 80%;
            text-align: center;
            border-bottom: 1px solid #000;
            line-height: 0.1em;
            margin: 10px 0 20px;
            color: #969ab8;
            font-family: "Work Sans", sans-serif;

            span {
                background: #fffff4;
                padding: 0 30px;
            }
        }
    }

    .buttons-section {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 2rem;

        button {
            cursor: pointer;
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }

    .no-account {
        text-align: left;

        a {
            font-family: "Arsenal", sans-serif;
            font-weight: 700;
            font-size: 24px;
            font-style: normal;
            color: #0d0c0c;
            text-decoration: none;
        }
    }

    .image {
        margin: 50px;
        height: 500px;
        width: 500px;
        background-color: transparent;
        text-align: center;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.error {
    color: red;
    margin-bottom: 10px;
}

/* Адаптивні стилі для мобільних пристроїв і планшетів */
@media (max-width: 768px) {
    .form {
        max-width: 90%;
        /* Зменшує максимальну ширину форми на малих екранах */
    }

    .btn {
        font-size: 14px;
        /* Зменшує розмір шрифту кнопки на малих екранах */
    }
}  